<.simple_form :let={f} for={@changeset} action={~p"/cars-import"} multipart={true}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:csv]} name="csv" type="file" label="Upload" required />
  <:actions>
    <.button>Import</.button>
  </:actions>
</.simple_form>